/* line 49, ../../../app/assets/stylesheets/skins/alternate.css.sass */
body {
  background: whitesmoke;
}

/* line 53, ../../../app/assets/stylesheets/skins/alternate.css.sass */
.landing {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  color: #34495e;
  border: 1px solid #cccccc;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: white;
  -moz-box-shadow: 0 0 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0);
  box-shadow: 0 0 0px rgba(0, 0, 0, 0);
  margin: 0 auto;
  max-width: 630px;
  padding: 25px;
}
/* line 67, ../../../app/assets/stylesheets/skins/alternate.css.sass */
.landing img {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #8e44ad;
  padding: 3px;
  max-width: 90%;
}
/* line 74, ../../../app/assets/stylesheets/skins/alternate.css.sass */
.landing .btn {
  border: none;
  background: #2c3e50;
  color: white;
  padding: 9px 12px 10px;
  line-height: 22px;
  text-decoration: none;
  text-shadow: none;
  -webkit-box-shadow: shadow;
  -moz-box-shadow: shadow;
  box-shadow: shadow;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
/* line 85, ../../../app/assets/stylesheets/skins/alternate.css.sass */
.landing .btn:hover, .landing .btn:focus {
  background-color: #34495e;
  background-position: 0 0;
  color: white;
  outline: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
/* line 94, ../../../app/assets/stylesheets/skins/alternate.css.sass */
.landing .btn.btn-success {
  background-color: #8e44ad;
  margin: 15px 0px 0px;
}
/* line 97, ../../../app/assets/stylesheets/skins/alternate.css.sass */
.landing .btn.btn-success:hover, .landing .btn.btn-success:focus {
  background-color: #9b59b6;
}
/* line 101, ../../../app/assets/stylesheets/skins/alternate.css.sass */
.landing .btn.btn-primary {
  background-color: #2980b9;
}
/* line 103, ../../../app/assets/stylesheets/skins/alternate.css.sass */
.landing .btn.btn-primary:hover, .landing .btn.btn-primary:focus {
  background-color: #3498db;
}
/* line 108, ../../../app/assets/stylesheets/skins/alternate.css.sass */
.landing input[type="text"] {
  border: 2px solid #bdc3c7;
  color: #34495e;
  font-size: 105%;
  padding: 20px 5px;
  height: 22px;
  text-indent: 6px;
  -webkit-box-shadow: shadow;
  -moz-box-shadow: shadow;
  box-shadow: shadow;
}
/* line 118, ../../../app/assets/stylesheets/skins/alternate.css.sass */
.landing .alert.alert-info {
  background-color: white;
  border: 1px solid #8e44ad;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: #34495e;
}
/* line 124, ../../../app/assets/stylesheets/skins/alternate.css.sass */
.landing .btn-group-vertical {
  display: block;
}
/* line 126, ../../../app/assets/stylesheets/skins/alternate.css.sass */
.landing .btn-share {
  text-align: left;
}
/* line 129, ../../../app/assets/stylesheets/skins/alternate.css.sass */
.landing .btn-share [class^="icon-"], .landing .btn-share [class*=" icon-"] {
  display: inline-block;
  width: 35px;
  text-align: center;
  color: white;
}
/* line 137, ../../../app/assets/stylesheets/skins/alternate.css.sass */
.landing.landing.landing-share h1 {
  font-size: 25px;
  line-height: 25px;
  padding: 0 0 15px;
  margin: 0;
  border-bottom: 1px solid #8e44ad;
  color: #8e44ad;
}
/* line 144, ../../../app/assets/stylesheets/skins/alternate.css.sass */
.landing.landing.landing-share h2 {
  font-size: 22px;
  line-height: 24px;
  padding: 0;
  color: #8e44ad;
}
/* line 149, ../../../app/assets/stylesheets/skins/alternate.css.sass */
.landing.landing.landing-share p, .landing.landing.landing-share label {
  font-size: 120%;
}
/* line 151, ../../../app/assets/stylesheets/skins/alternate.css.sass */
.landing.landing.landing-share p {
  margin: 15px 0px;
}
/* line 153, ../../../app/assets/stylesheets/skins/alternate.css.sass */
.landing.landing.landing-share a {
  color: #3498db;
}
/* line 158, ../../../app/assets/stylesheets/skins/alternate.css.sass */
.landing.landing.landing-friend h1 {
  font-size: 25px;
  line-height: 45px;
  padding: 0;
  color: #8e44ad;
}
/* line 163, ../../../app/assets/stylesheets/skins/alternate.css.sass */
.landing.landing.landing-friend h2 {
  font-size: 15.5px;
  line-height: 25.5px;
  padding: 0;
  color: #34495e;
}
/* line 168, ../../../app/assets/stylesheets/skins/alternate.css.sass */
.landing.landing.landing-friend p, .landing.landing.landing-friend address {
  margin: 10px 0px;
  font-size: 17px;
}
/* line 171, ../../../app/assets/stylesheets/skins/alternate.css.sass */
.landing.landing.landing-friend .alert {
  margin: 20px 0 5px;
}
/* line 173, ../../../app/assets/stylesheets/skins/alternate.css.sass */
.landing.landing.landing-friend a {
  color: #3498db;
}
