/* line 49, ../../../app/assets/stylesheets/skins/olive.css.sass */
body {
  background: whitesmoke;
}

/* line 53, ../../../app/assets/stylesheets/skins/olive.css.sass */
.landing {
  font-family: Geneva, Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #3d3d3d;
  border: 8px solid #93af5b;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: white;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  max-width: 630px;
  padding: 25px;
}
/* line 67, ../../../app/assets/stylesheets/skins/olive.css.sass */
.landing img {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #93af5b;
  padding: 3px;
  max-width: 90%;
}
/* line 74, ../../../app/assets/stylesheets/skins/olive.css.sass */
.landing .btn {
  border: 2px solid #3498db;
  background: white;
  color: #3498db;
  padding: 9px 12px 10px;
  line-height: 22px;
  text-decoration: none;
  text-shadow: none;
  -webkit-box-shadow: shadow;
  -moz-box-shadow: shadow;
  box-shadow: shadow;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
/* line 85, ../../../app/assets/stylesheets/skins/olive.css.sass */
.landing .btn:hover, .landing .btn:focus {
  background-color: white;
  background-position: 0 0;
  color: #3498db;
  outline: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
/* line 94, ../../../app/assets/stylesheets/skins/olive.css.sass */
.landing .btn.btn-success {
  background-color: #8fa758;
  border: 0px;
  color: white;
}
/* line 98, ../../../app/assets/stylesheets/skins/olive.css.sass */
.landing .btn.btn-success:hover, .landing .btn.btn-success:focus {
  background-color: #e1eacd;
  color: #3d3d3d;
}
/* line 103, ../../../app/assets/stylesheets/skins/olive.css.sass */
.landing .btn.btn-primary {
  background-color: white;
}
/* line 105, ../../../app/assets/stylesheets/skins/olive.css.sass */
.landing .btn.btn-primary:hover, .landing .btn.btn-primary:focus {
  background-color: white;
}
/* line 108, ../../../app/assets/stylesheets/skins/olive.css.sass */
.landing .btn-group-vertical {
  display: block;
}
/* line 110, ../../../app/assets/stylesheets/skins/olive.css.sass */
.landing .btn-share {
  text-align: left;
}
/* line 113, ../../../app/assets/stylesheets/skins/olive.css.sass */
.landing .btn-share [class^="icon-"], .landing .btn-share [class*=" icon-"] {
  display: inline-block;
  width: 35px;
  text-align: center;
  color: #3498db;
}
/* line 121, ../../../app/assets/stylesheets/skins/olive.css.sass */
.landing input[type="text"] {
  border: 2px solid #bdc3c7;
  color: #3d3d3d;
  font-size: 105%;
  padding: 20px 5px;
  height: 22px;
  text-indent: 6px;
  -webkit-box-shadow: shadow;
  -moz-box-shadow: shadow;
  box-shadow: shadow;
}
/* line 131, ../../../app/assets/stylesheets/skins/olive.css.sass */
.landing .alert.alert-info {
  background-color: white;
  border: 1px solid #93af5b;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: #3d3d3d;
}
/* line 136, ../../../app/assets/stylesheets/skins/olive.css.sass */
.landing .alert.alert-info strong {
  color: #aa3333;
}
/* line 141, ../../../app/assets/stylesheets/skins/olive.css.sass */
.landing.landing.landing-share h1 {
  font-size: 25px;
  line-height: 25px;
  padding: 0 0 15px;
  margin: 0;
  border-bottom: 1px solid #93af5b;
  color: #3d3d3d;
}
/* line 148, ../../../app/assets/stylesheets/skins/olive.css.sass */
.landing.landing.landing-share h2 {
  font-size: 22px;
  line-height: 44px;
  padding: 0;
  color: #3d3d3d;
}
/* line 153, ../../../app/assets/stylesheets/skins/olive.css.sass */
.landing.landing.landing-share p, .landing.landing.landing-share label {
  font-size: 120%;
}
/* line 155, ../../../app/assets/stylesheets/skins/olive.css.sass */
.landing.landing.landing-share p {
  margin: 15px 0px;
}
/* line 157, ../../../app/assets/stylesheets/skins/olive.css.sass */
.landing.landing.landing-share a {
  color: #3498db;
}
/* line 162, ../../../app/assets/stylesheets/skins/olive.css.sass */
.landing.landing.landing-friend h1 {
  font-size: 25px;
  line-height: 35px;
  padding: 0;
  color: #3d3d3d;
}
/* line 167, ../../../app/assets/stylesheets/skins/olive.css.sass */
.landing.landing.landing-friend h2 {
  font-size: 15.5px;
  line-height: 25.5px;
  padding: 0;
  color: #f26522;
}
/* line 172, ../../../app/assets/stylesheets/skins/olive.css.sass */
.landing.landing.landing-friend p {
  margin: 10px 0px;
  font-size: 135%;
}
/* line 175, ../../../app/assets/stylesheets/skins/olive.css.sass */
.landing.landing.landing-friend .alert {
  margin: 20px 0 5px;
}
/* line 177, ../../../app/assets/stylesheets/skins/olive.css.sass */
.landing.landing.landing-friend a {
  color: #3498db;
}
