.well.landing.landing.landing-friend
  .row-fluid
    .span3
      %img{:alt => "Image", :src => "/img/test-image.png", class: "img"}
    .span9
      %h1 $10 Cash Back At The Kosher Express!
      %p Get $10 cash back on any purchase using this special friends only offer and I'll get $10 back too! 
  .clearfix
  .row-fluid
    .span12
      .alert.alert-info.text-center
        %span Deal Expires in
        %strong 5 Days, 20 Hours, 7 Minutes, 29 Seconds
  .clearfix
  .row-fluid
    .span6
      %h2 How Does This Rebate Work?
      %p After your purchase, you will be emailed a confirmation with the rebate details.
    .span6
      %h2 Questions ?
      %address
        290 Division Street, Suite 405
        %br
        San Francisco, CA 94103
        %br
        = link_to "first.last@example.com", "mailto:#"
  .clearfix
  .row-fluid
    .span12
      %button.btn.btn-large.btn-block.btn-success{:type => "button"} Proceed »
  .clearfix