//Nav
= content_for :landing_nav do
  %li.divider-vertical
  %li.dropdown
    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
      Switch
      %b.caret
    %ul.dropdown-menu
      %li
        %a{:href => "#", :onclick => "changeStyle('landing')"} Switch Landing
      %li
        %a{:href => "#", :onclick => "changeStyle('olive')"} Switch Olive
      %li.divider
      %li
        %a{:href => "#"} Show more
//Content
.container
  %br
  %br
  .container-toggle{:style => "display: block;"}
    =render 'dashboard/show_item'
  .container-toggle{:style => "display: none;"}
    =render 'dashboard/new'
  %br
  %br
  //=render 'dashboard/share'
  //%br
  //%br

