<div class="item-mas tall wrapper-column">
  <a href="#myModal" role="" data-toggle="modal">
  <img alt="" width="475" height="230" src="http://stage.pokupon.ua:80/uploaded/new_campaign_pictures/11530/data/preview475x230/720x340_v3.jpg">
  <h2>20, 40 или 60 сеансов коррекции фигуры в течение полугода в Тонус-клубе на Подоле. Сертификаты на 6 месяцев!</h2>
  <footer>
    Цена от <strong>44</strong> грн. Скидка <strong>60%</strong>
  </footer>
  </a>
</div>