<div class="item-mas wrapper-column">
  <a href="#myModal" role="" data-toggle="modal">
  <img alt="" width="228" height="228" src="http://media-cache-ak0.pinimg.com/236x/d8/f5/bd/d8f5bdcffb3b57f5f66b7bdb071cb735.jpg">
  <h2>Сладкая, морская или омолаживающая СПА-программа.</h2>
  <footer>
    Цена от <strong>220</strong> грн. Скидка <strong>73%</strong>
  </footer>
  </a>
</div>