<div class="item-mas wrapper-column">
  <a href="#myModal" role="" data-toggle="modal">
  <img alt="" src="http://media-cache-ak1.pinimg.com/236x/3b/d4/84/3bd4845bacd220ae385b50a78d9ade74.jpg">
  <h2>Абонементы на 50, 100 и 150 мин. в вертикальном солярии в салоне Делис! Сертификаты действуют 3 месяца!</h2>
  <footer>
    Цена от <strong>80</strong> грн. Скидка <strong>81%</strong>
  </footer>
  </a>
</div>