<div class="item-mas wrapper-column">
  <a href="#myModal" role="" data-toggle="modal">
  <img alt="" width="475" height="230" src="http://media-cache-ec2.pinimg.com/236x/a9/ce/9c/a9ce9c3d107bb03acc0aeb4f83b0b938.jpg">
  <h2>Сладкая, морская или омолаживающая СПА-программа.</h2>
  <footer>
    Цена от <strong>220</strong> грн. Скидка <strong>73%</strong>
  </footer>
  </a>
</div>