<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/">Just for fun</a>
      <div class="nav-collapse collapse">
        <ul class="nav pull-left">
          <li class="">
            <a href="/dashboard/index">Dashboard</a>
          </li>
          <li class="dropdown active">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Today<b class="caret"></b></a>
            <ul class="dropdown-menu" id="nav">
              <li><a href="#" data-filter="*">All</a></li>
              <li><a href="#" data-filter=".cat1">Beauty</a></li>
              <li><a href="#" data-filter=".cat2">Health</a></li>
              <li><a href="#" data-filter=".cat3">Goods</a></li>
               <li><a href="#" data-filter=".cat4">Services</a></li>
              <li class="divider"></li>
              <li class="nav-header">Tourism</li>
              <li><a href="#">Hotels</a></li>
              <li><a href="#">Tours</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav pull-right">
          <li class=""><a href="/dashboard/landing">Landing page</a></li>
          <li class=""><a href="/dashboard/show">Show</a></li>
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Switch <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#" onclick="changeStyle('landing')">Switch Landing</a></li>
              <li><a href="#" onclick="changeStyle('alternate')">Switch Alternative</a></li>
              <li><a href="#" onclick="changeStyle('breeze')">Switch Breeze</a></li>
              <li class="divider"></li>
              <li><a href="#">Show more</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>