<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="./index.html">Pokupon</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="dropdown active">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Сегодня <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Все акции</a></li>
              <li><a href="#">Красота</a></li>
              <li><a href="#">Здоровье</a></li>
              <li class="divider"></li>
              <li><a href="#">Товары</a></li>
              <li><a href="#">Услуги</a></li>
              <li class="nav-header">Туризм</li>
              <li><a href="#">Хотели</a></li>
              <li><a href="#">Экскурсии</a></li>
            </ul>
          </li>
          <li class="">
            <a href="#">TOP-Friday</a>
          </li>
          <li class="">
            <a href="#">Рестораны</a>
          </li>
          <li class="">
            <a href="#">Развлечения</a>
          </li>
          <li class="">
            <a href="#">Товары Hilt</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>