//= stylesheet_link_tag "skins/landing", :title => "landing"
//= stylesheet_link_tag "skins/alternate", :title => "alternate"
//= stylesheet_link_tag "skins/breeze", :title => "breeze"
%link{:href => "/assets/skins/landing.css?body=1", :media => "screen", :rel => "stylesheet", :title => "landing", :type => "text/css"}
%link{:href => "/assets/skins/alternate.css?body=1", :media => "screen", :rel => "stylesheet", :title => "alternate", :type => "text/css"}
%link{:href => "/assets/skins/breeze.css?body=1", :media => "screen", :rel => "stylesheet", :title => "breeze", :type => "text/css"}/