//= stylesheet_link_tag "skins/landing", :title => "landing"
//= stylesheet_link_tag "skins/alternate", :title => "alternate"
//= stylesheet_link_tag "skins/breeze", :title => "breeze"
//= stylesheet_link_tag "skins/olive", :title => "olive"
%link{:href => "/skin/landing.css", :media => "screen", :rel => "stylesheet", :title => "landing", :type => "text/css"}
%link{:href => "/skin/alternate.css", :media => "screen", :rel => "stylesheet", :title => "alternate", :type => "text/css"}
%link{:href => "/skin/breeze.css", :media => "screen", :rel => "stylesheet", :title => "breeze", :type => "text/css"}/
%link{:href => "/skin/olive.css", :media => "screen", :rel => "stylesheet", :title => "olive", :type => "text/css"}/