<!DOCTYPE html>
<html>
<head>
  <title>Showroom</title>
  <%= csrf_meta_tags %>
  <%#= stylesheet_link_tag "skins/landing" %><!--custom, olive-->
  <link href="/assets/skins/landing.css" media="screen" rel="stylesheet" type="text/css">
</head>
<body>  
  
  <%= yield %>
  
  <center>
    <br>
    <br>
    <a href="#" class="btn landing-btn">Landing</a>
    <a href="#" class="btn olive-btn">Olive</a>
  </center>
    
  <%= javascript_include_tag "landing-application" %>

  <script>
    $('.olive-btn').click(function (e) {
      e.preventDefault();
      $('link').attr("href", "/assets/skins/olive.css?body=1");
    })
    $('.landing-btn').click(function (e) {
      e.preventDefault();
      $('link').attr("href", "/assets/skins/landing.css?body=1");
    })
  </script>
     
</body>
</html>
